.matching {width:842px;margin:0 auto;border:1px solid #ccc;}
.matching_ui {min-height:650px;}
.matching_ui .statement_defs {width:240px;}
.matching_ui .answer_areas {left:320px;width:502px;}
/*.msg_win {font-size:1.2em;}*/