#multiplechoice {width:842px;margin:0 auto;border:1px solid #ccc;}
#MH1-11-NO2 .multiplechoice_ui {min-height:400px;}

#mc_knowledgebank {padding-top:7px;}

#MH1-11-NO2 .msg_win {font-size:1em;}

#MH1-16-NO3 .multiplechoice_ui {min-height:400px;}

#MH1-16-NO3 .msg_win {font-size:1.1em;}
/*#MH1-17-NO4 #info-reveal {background: url(../images/usa.gif) no-repeat center fixed;}*/
#MH1-17-NO4 #info_reveal {position:relative;width:842px;min-height:700px;margin:0 auto;/*padding:15px;*/border:1px solid #ccc;background: #FFFFFF url(../images/usa.gif) no-repeat center 50px fixed;font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;overflow:hidden;}

#MH1-17-NO4 #message {position:absolute;top:0;left:0;width:100%;z-index:50; display: block;}
#MH1-17-NO4 #message h1 {margin:0;padding-left:10px;font-size:1em;font-weight:normal;background-color:#273E4C;color:#fff;}

#MH1-17-NO4 #info_reveal dl {margin:50px 25px;width:350px;float:left;}
#MH1-17-NO4 #info_reveal dt {margin-bottom:.5em; }
#MH1-17-NO4 #info_reveal dd {margin-bottom:1em;padding-left:0;display:inline-block;border-radius:9px;-moz-border-radius:9px;-webkit-border-radius:9px;padding:5px;border:1px solid #333;background-color:#ffffff;}
#MH1-17-NO4 #info_reveal dt a {display:inline-block;border-radius:9px;-moz-border-radius:9px;-webkit-border-radius:9px;text-decoration:none;padding:5px;border:1px solid #333;background-color:#d7e8f5;color:#666;}
#MH1-17-NO4 #info_reveal dt a:hover, #MH1-17-NO4 #info_reveal dt a:focus {/*border-color:#00afe8;*/background-color:#b0d1eb;color:#333;outline:none;}
#MH1-17-NO4 #info_reveal dt a img {border:none;}

#MH1-17-NO4 #info_reveal .list2{position:absolute; top:0;left: 375px;}

#MH1-23-NO5 .tab-ui {width:900px;}
#MH1-23-NO5 .tab-ui #wrap {width:630px;}
#MH1-23-NO5 .tab-ui #intro-text, #MH1-23-NO5 .tab-ui .user-activated .bod {width:590px;  min-height: 270px;}
/*#ED9-5-NO1 #tabbed-info .bod img {margin:1em 0 2em 20px;float:right;}*/
#MH1-23-NO5 #tabbed-info .bod li {margin-bottom:1em;}
#MH1-23-NO5 .tab-ui .user-activated .bod img{margin-top:  10px;}

#MH1-29-NO6 .tab-ui {width:900px;}
#MH1-29-NO6 .tab-ui #wrap {width:630px;}
#MH1-29-NO6 .tab-ui #intro-text, #MH1-29-NO6 .tab-ui .user-activated .bod {width:590px;  min-height: 220px;}
/*#ED9-5-NO1 #tabbed-info .bod img {margin:1em 0 2em 20px;float:right;}*/
#MH1-29-NO6 #tabbed-info .bod li {margin-bottom:1em;}
#MH1-29-NO6 .tab-ui .user-activated .bod img{margin-top:  10px;}